.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
    background-color:white;
    height:auto;
    width:350px;
    text-align:center; 
    
    
}
.img{
    height:150px;
    width:100%;
    display:block;
    margin:auto;
}
.header{
    background-color:aqua;
}
.footer{
    background-color:aquamarine;
    padding-left:30%
}
