.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.img{
    height:300px;
    width:300px; 
}
.box{
    margin: 5px;
    padding: 100px;
    border:1px solid gray;
    border-radius: 5px;
    background-color:white;
    height:400px;
    width:300px; 
}
.header{
    background-color:aqua;
}
.footer{
    background-color:aquamarine;
    padding-left:30%
}
